services:
  nginx:
    image: nginx:latest
    ports:
      - "80:80"
    volumes:
      - ../nginx/nginx.conf:/etc/nginx/nginx.conf
    depends_on:
      - kong
    networks:
      - app-network

  kong-migrations:
    image: kong:latest
    depends_on:
      - postgresql
    environment:
      KONG_DATABASE: postgres
      KONG_PG_HOST: postgresql
      KONG_PG_USER: kong
      KONG_PG_PASSWORD: kong
      KONG_PG_DATABASE: kong
    command: kong migrations bootstrap
    restart: "no"
    networks:
      - app-network

  kong:
    image: kong:latest
    depends_on:
      - postgresql
      - kong-migrations
    environment:
      KONG_DATABASE: postgres
      KONG_PG_HOST: postgresql
      KONG_PG_USER: kong
      KONG_PG_PASSWORD: kong
      KONG_PG_DATABASE: kong
      KONG_PROXY_ACCESS_LOG: /dev/stdout
      KONG_ADMIN_ACCESS_LOG: /dev/stdout
      KONG_PROXY_ERROR_LOG: /dev/stderr
      KONG_ADMIN_ERROR_LOG: /dev/stderr
      KONG_ADMIN_LISTEN: "0.0.0.0:8001"
    ports:
      - "8000:8000"
      - "8443:8443"
      - "8001:8001"
    restart: unless-stopped
    networks:
      - app-network

  keycloak:
    image: keycloak/keycloak:latest
    command: start-dev
    environment:
      KEYCLOAK_ADMIN: admin
      KEYCLOAK_ADMIN_PASSWORD: admin
      KC_DB: dev-file
    ports:
      - "8080:8080"
    networks:
      - app-network

  user-service:
    build:
      context: ../microservices/users-service
    depends_on:
      - postgresql
    environment:
      - DATABASE_URL=postgresql://user:pass@postgresql:5432/chat_app
    ports:
      - "3001:3001"
    networks:
      - app-network

  chat-service:
    build:
      context: ../microservices/chat-service
    depends_on:
      - mongodb
    environment:
      - MONGODB_URL=mongodb://mongodb:27017/chat_app
    ports:
      - "3002:3002"
    networks:
      - app-network

  websocket-service:
    build:
      context: ../microservices/websocket-service
    depends_on:
      - rabbitmq
    environment:
      - RABBITMQ_URL=amqp://guest:guest@rabbitmq:5672
    ports:
      - "3003:3003"
    networks:
      - app-network

  postgresql:
    image: postgres:13
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: pass
      POSTGRES_DB: chat_app
      POSTGRES_INITDB_ARGS: "--auth-host=md5"
    volumes:
      - postgres-data:/var/lib/postgresql/data
      - ./init-db.sql:/docker-entrypoint-initdb.d/init-db.sql
    ports:
      - "5432:5432"
    networks:
      - app-network

  mongodb:
    image: mongo:5
    volumes:
      - mongo-data:/data/db
    ports:
      - "27017:27017"
    networks:
      - app-network

  rabbitmq:
    image: rabbitmq:3-management
    ports:
      - "5672:5672"
      - "15672:15672"
    networks:
      - app-network

networks:
  app-network:
    driver: bridge

volumes:
  postgres-data:
  mongo-data: