

services:
  nginx:
    image: nginx:1.29.3-alpine
    ports:
      - "80:80"
    volumes:
      - ../nginx/nginx.conf:/etc/nginx/nginx.conf
    networks:
      - app-network
    restart: always

  kong:
    image: kong:3.9.1
    ports:
      - "8000:8000"
      - "8443:8443"
    environment:
      KONG_DATABASE: 'off'
      KONG_DECLARATIVE_CONFIG: /etc/kong/kong.yaml
    volumes:
      - ../kong/kong.yaml:/etc/kong/kong.yaml
    depends_on:
      - user-service
      - chat-service
      - websocket-service
    networks:
      - app-network
    restart: always

  keycloak:
    image: quay.io/keycloak/keycloak:26.4.2
    ports:
      - "8081:8080"
    env_file:
      - ../.env
    command:
      - start
      - --proxy-headers
      - forwarded
    depends_on:
      postgresql:
        condition: service_healthy
    networks:
      - app-network

  user-service:
    build:
      context: ../microservices/users-service
    ports:
      - "3001:3001"
    depends_on:
      postgresql:
        condition: service_healthy
    env_file:
      - ../.env
    networks:
      - app-network

  chat-service:
    build:
      context: ../microservices/chat-service
    ports:
      - "3002:3002"
    depends_on:
      - mongodb
    env_file:
      - ../.env
    networks:
      - app-network

  websocket-service:
    build:
      context: ../microservices/websocket-service
    ports:
      - "3003:3003"
    depends_on:
      rabbitmq:
        condition: service_healthy
    env_file:
      - ../.env
    networks:
      - app-network

  postgresql:
    image: postgres:13.22-alpine
    env_file:
      - ../.env
    volumes:
      - postgres-data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U user -d chat_app"]
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      - app-network
    restart: always


  mongodb:
    image: mongo:8.2.1-noble
    environment:
      MONGO_INITDB_DATABASE: chat_app
    volumes:
      - mongo-data:/data/db
    networks:
      - app-network
    restart: always

  rabbitmq:
    image: rabbitmq:4.2.0-management-alpine
    ports:
      - "15672:15672"
    healthcheck:
      test: ["CMD", "rabbitmq-diagnostics", "check_running"]
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      - app-network
    restart: always

networks:
  app-network:

volumes:
  postgres-data:
  mongo-data: